<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".air" mimeType="application/vnd.adobe.air-application-installer-package+zip" />
        </staticContent>
        <rewrite>
            <rules>
                <rule name="members" stopProcessing="true">
                    <match url="member\/([_0-9a-z-]+)" />
                    <action type="Rewrite" url="index.cfm?seo=1&amp;user={R:1}" />
                </rule>
                <rule name="entries categories" stopProcessing="true">
                    <match url="post\/([_0-9a-z-]+)\/category\/([_0-9a-z-]+)" />
                    <action type="Rewrite" url="index.cfm?seo=1&amp;blog={R:1}&amp;entry=1&amp;category={R:2}" />
                </rule>
                <rule name="page categories" stopProcessing="true">
                    <match url="page\/([_0-9a-z-]+)\/category\/([_0-9a-z-]+)" />
                    <action type="Rewrite" url="index.cfm?seo=1&amp;blog={R:1}&amp;page=1&amp;category={R:2}" />
                </rule>
                <rule name="entries" stopProcessing="true">
                    <match url="post\/([_0-9a-z-]+)\/([_0-9a-z-]+)" />
                    <action type="Rewrite" url="index.cfm?seo=1&amp;blog={R:1}&amp;entry={R:2}" />
                </rule>
                <rule name="pages" stopProcessing="true">
                    <match url="page\/([_0-9a-z-]+)\/([_0-9a-z-]+)" />
                    <action type="Rewrite" url="index.cfm?seo=1&amp;blog={R:1}&amp;page={R:2}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
