<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="entries" stopProcessing="true">
                    <match url="post\/([_0-9a-z-]+)\/([_0-9a-z-]+)$" />
                    <action type="Rewrite" url="index.cfm?seo=1&amp;blog={R:1}&amp;entry={R:2}" />
                </rule>
                <rule name="entries categories" stopProcessing="true">
                    <match url="post\/([_0-9a-z-]+)\/category\/([_0-9a-z-]+)" />
                    <action type="Rewrite" url="index.cfm?seo=1&amp;blog={R:1}&amp;entry=1&amp;category={R:2}" />
                </rule>
                <rule name="forums" stopProcessing="true">
                    <match url="^forums$" />
                    <action type="Rewrite" url="index.cfm?p=forum/list" />
                </rule>
                <rule name="forum" stopProcessing="true">
                    <match url="forum\/([_0-9a-z-]+)$" />
                    <action type="Rewrite" url="index.cfm?seo=1&amp;forum={R:1}" />
                </rule>
                <rule name="forum thread" stopProcessing="true">
                    <match url="forum\/([_0-9a-z-]+)\/([0-9]+)\/([_0-9a-z-]+)" />
                    <action type="Rewrite" url="index.cfm?seo=1&amp;forum={R:1}&amp;ftid={R:2}&amp;thread={R:3}" />
                </rule>
                <rule name="login" stopProcessing="true">
                    <match url="^login$" />
                    <action type="Rewrite" url="index.cfm?p=login/login" />
                </rule>
                <rule name="member" stopProcessing="true">
                    <match url="^members$" />
                    <action type="Rewrite" url="index.cfm?p=member/list" />
                </rule>
                <rule name="members" stopProcessing="true">
                    <match url="member\/([_0-9a-z-]+)$" />
                    <action type="Rewrite" url="index.cfm?seo=1&amp;user={R:1}" />
                </rule>
                <rule name="pages - about" stopProcessing="true">
                    <match url="^about$" />
                    <action type="Rewrite" url="index.cfm?seo=1&amp;blog=1&amp;page=about" />
                </rule>
                <rule name="pages - join" stopProcessing="true">
                    <match url="^join$" />
                    <action type="Rewrite" url="index.cfm?seo=1&amp;blog=1&amp;page=join" />
                </rule>
                <rule name="pages - resources" stopProcessing="true">
                    <match url="^resources$" />
                    <action type="Rewrite" url="index.cfm?seo=1&amp;blog=1&amp;page=resources" />
                </rule>
                <rule name="pages" stopProcessing="true">
                    <match url="page\/([_0-9a-z-]+)\/([_0-9a-z-]+)$" />
                    <action type="Rewrite" url="index.cfm?seo=1&amp;blog={R:1}&amp;page={R:2}" />
                </rule>
                <rule name="page categories" stopProcessing="true">
                    <match url="page\/([_0-9a-z-]+)\/category\/([_0-9a-z-]+)" />
                    <action type="Rewrite" url="index.cfm?seo=1&amp;blog={R:1}&amp;page=1&amp;category={R:2}" />
                </rule>
            </rules>
        </rewrite>
        <!-- <handlers>
            <remove name="cfmlHandler" />
            <remove name="cfcHandler" />
            <remove name="cfrHandler" />
            <remove name="cfswfHandler" />
            <remove name="cfmHandler" />
            <add name="cfmHandler" path="*.cfm" verb="*" type="" modules="IsapiModule" scriptProcessor="C:\ColdFusion2021\config\wsconfig\1\isapi_redirect.dll" resourceType="Either" requireAccess="Script" allowPathInfo="false" preCondition="bitness64" responseBufferLimit="0" />
            <add name="cfswfHandler" path="*.cfswf" verb="*" type="" modules="IsapiModule" scriptProcessor="C:\ColdFusion2021\config\wsconfig\1\isapi_redirect.dll" resourceType="Either" requireAccess="Script" allowPathInfo="false" preCondition="bitness64" responseBufferLimit="0" />
            <add name="cfrHandler" path="*.cfr" verb="*" type="" modules="IsapiModule" scriptProcessor="C:\ColdFusion2021\config\wsconfig\1\isapi_redirect.dll" resourceType="Either" requireAccess="Script" allowPathInfo="false" preCondition="bitness64" responseBufferLimit="0" />
            <add name="cfcHandler" path="*.cfc" verb="*" type="" modules="IsapiModule" scriptProcessor="C:\ColdFusion2021\config\wsconfig\1\isapi_redirect.dll" resourceType="Either" requireAccess="Script" allowPathInfo="false" preCondition="bitness64" responseBufferLimit="0" />
            <add name="cfmlHandler" path="*.cfml" verb="*" type="" modules="IsapiModule" scriptProcessor="C:\ColdFusion2021\config\wsconfig\1\isapi_redirect.dll" resourceType="Either" requireAccess="Script" allowPathInfo="false" preCondition="bitness64" responseBufferLimit="0" />
        </handlers> -->
    </system.webServer>
</configuration>
