<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".air" mimeType="application/vnd.adobe.air-application-installer-package+zip" />
        </staticContent>
        <rewrite>
            <rules>
                <rule name="blog authors" stopProcessing="true">
                    <match url="author\/([_0-9]+)\/([_0-9a-z-]+)" />
                    <action type="Rewrite" url="index.cfm?redirect=1&amp;id={R:1}&amp;author={R:2}" />
                </rule>
                <rule name="blog categories" stopProcessing="true">
                    <match url="category\/([_0-9]+)\/([_0-9a-z-]+)" />
                    <action type="Rewrite" url="index.cfm?redirect=1&amp;id={R:1}&amp;category={R:2}" />
                </rule>
                <rule name="blog entries" stopProcessing="true">
                    <match url="post\/([_0-9]+)\/202[2-9]\/[0-1][0-9]\/[0-3][0-9]\/([_0-9a-z-]+)" />
                    <action type="Rewrite" url="index.cfm?redirect=1&amp;id={R:1}&amp;entry={R:2}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
