body {
  color: var(--nmg-black);
  background-color: var(--nmg-bg-light);
}

a {
  color: var(--nmg-black);
}

a:hover {
  color: var(--nmg-link-hover);
}

.bg-nmg {
  background-color: var(--nmg-bg-alt);
}

.bg-nmg-light {
  background-color: var(--nmg-bg-light);
}

.border-nmg {
  border-color: var(--nmg-border) !important;
}

.btn-nmg {
  color: var(--nmg-black);
  background-color: var(--nmg-bg-alt);
  border-color: var(--nmg-border);
}

.btn-nmg:hover {
  color: var(--nmg-bg-alt);
  background-color: var(--nmg-border);
}

.btn-nmg-cancel {
  background-color: var(--nmg-warning);
  color: var(--nmg-black);
  border-color: var(--nmg-border);
}

.btn-nmg-cancel:hover {
  background-color: var(--nmg-border);
  border-color: var(--nmg-warning);
  color: var(--nmg-warning);
}

.btn-nmg-delete {
  background-color: var(--nmg-danger);
  color: var(--nmg-black);
  border-color: var(--nmg-border);
}

.btn-nmg-delete:hover {
  background-color: var(--nmg-border);
  border-color: var(--nmg-danger);
  color: var(--nmg-danger);
  opacity: 1 !important;
}

.card {
  background-color: var(--nmg-bg-light);
  border-color: var(--nmg-border) !important;
}

.card .card-header {
  background-color: var(--nmg-bg-alt);
}

.card-private .card-header {
  background-color: var(----nmg-private);
}

.card-admin {
  background-color: var(--nmg-admin-bg);
  color: var(--nmg-admin-text);
  border-color: var(--nmg-color-alt) !important;
}

.card-admin .card-header {
  background-color: var(--nmg-admin-header);
}

.card-admin a {
  color: var(--nmg-admin-text);
}

.card-admin a:hover {
  color: var(--nmg-color-alt);
}

.form-control {
  background-color: var(--nmg-bg-light);
  color: var(--nmg-black);
  border-color: var(--nmg-border);
}

.img-thumbnail {
  border-color: var(--nmg-border);
  background-color: var(--nmg-bg-alt);
}

.forum-thumbnail {
  width: 48px;
  height: 48px;
  border-color: var(--nmg-border);
}

.thread-thumbnail {
  width: 128px;
  height: 128px;
  border-color: var(--nmg-border);
}

.thread-user {
  min-width: 156px;
}

.thread-message {
  min-height: 156px;
  border-radius: var(--bs-border-radius) !important;
}

.clipped {
  background-color: var(--nmg-blue);
  border-color: var(--nmg-blue);
  color: var(--nmg-black);
}

.navbar-nmg {
  background-color: var(--nmg-bg-alt);
}

.navbar-nmg .navbar-nav > li > ul {
  color: var(--nmg-black);
  background-color: var(--nmg-bg-alt);
}

.navbar-nmg .navbar-nav .navbar-link {
  color: var(--nmg-black);
}

.navbar-nmg .navbar-nav .nav-link {
  color: var(--nmg-black);
}

.navbar-nmg .navbar-nav .nav-link:hover {
  color: var(--nmg-nav-hover);
}

.navbar-nmg a.dropdown-item {
  color: var(--nmg-black);
}

.navbar-nmg a.dropdown-item:focus, .navbar-nmg a.dropdown-item:hover {
  background-color: var(--nmg-bg-light);
  color: var(--nmg-nav-hover);
}

.table-nmg {
  color: var(--nmg-black);
}

.min-h-450px {
  min-height: 450px;
}

.modal-content {
  background-color: var(--nmg-bg-alt);
}
