body {
  color: #0c1a19;
  background-color: #ffffff;
}

a {
  color: #0c1a19;
}

a:hover {
  color: #909999;
}

.bg-nmg {
  background-color: #e0eeee;
}

.bg-nmg-light {
  background-color: #fafafa;
}

.border-nmg {
  border-color: #0c4040!important;
}

.btn-nmg {
  color: #0c1a19;
  background-color: #e0eeee;
  border-color: #0c4040;
}

.btn-nmg:hover {
  color: #e0eeee;
  background-color: #0c4040;
}

.btn-nmg-cancel {
  background-color: #ffc107;
  color: #0c1a19;
  border-color: #0c4040;
}

.btn-nmg-cancel:hover {
  background-color: #0c4040;
  border-color: #ffc107;
  color: #ffc107;
}

.btn-nmg-delete {
  background-color: #c04551;
  color: #0c1a19;
  border-color: #0c4040;
}

.btn-nmg-delete:hover {
  background-color: #0c4040;
  border-color: #c04551;
  color: #c04551;
}

.card {
  background-color: #fafafa;
  border-color: #0c4040 !important;
}

.card .card-header {
  background-color: #e0eeee;
}

.card-admin {
  background-color: #203030;
  color: #F0FFFF;
  border-color: #31C5F2 !important;
}

.card-admin .card-header {
  background-color: #0c1a19;
}

.card-admin a {
  color: #F0FFFF;
}

.card-admin a:hover {
  color: #31C5F2;
}

.form-control {
  background-color: #fff;
  color: #0c1a19;
  border-color: #0c4040;
}

.img-thumbnail {
  border-color: #0c4040;
  background-color: #e0eeee;
}

.forum-thumbnail {
  width: 48px;
  height: 48px;
  border-color: #0c4040;
}

.thread-thumbnail {
  width: 96px;
  height: 96px;
  border-color: #0c4040;
}

.thread-user {
  min-width: 128px;
  /* min-height: 196px; */
}

.thread-message {
  min-height: 156px;
  border-radius: 2rem!important;
}

.clipped {
  background-color: cornflowerblue;
  border-color: cornflowerblue;
  color: #0c1a19;
}

.navbar-nmg {
  background-color: #e0eeee;
}

.navbar-nmg .navbar-nav > li > ul {
  color: #0c1a19;
  background-color: #e0eeee;
}

.navbar-nmg .navbar-nav .navbar-link {
  color: #0c1a19;
}

.navbar-nmg .navbar-nav .nav-link {
  color: #0c1a19;
}

.navbar-nmg .navbar-nav .nav-link:hover {
  color: #0c3030;
}

.navbar-nmg a.dropdown-item {
  color: #0c1a19;
}

.navbar-nmg a.dropdown-item:focus, .navbar-nmg a.dropdown-item:hover {
  background-color: #fafafa;
  color: #0c3030;
}

.table-nmg {
  color: #0c1a19;
}
