* {
  margin: 0;
  padding: 0;
}

.grecaptcha-badge { visibility: hidden; }

.nmg-color { color: #5AC5C3; }
.nmg-color-alt { color: #31C5F2; }
.nmg-color-text { color: #0c1a19; }

body {
  margin-bottom: 140px;
  font-family: 'Poppins', sans-serif;
  font-size: 1em;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

a {
  text-decoration: none;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Poppins', 'Arimo', sans-serif;
}

.text-page-head { font-family: 'Poppins' }
.text-marker { font-family: 'Permanent Marker' }

.text-smallcaps { font-variant: small-caps; }

.content {
  min-height: 60vh;
}

.smaller { font-size: .75em }

.btn-floating {
  opacity: 0.6!important;
  position: absolute;
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  line-height: 1.428571429;
  border-radius: 15px;
}

.btn-floating:hover {
  opacity:1!important;
}

.btn-floating-br {
  bottom: 8px;
  right: 8px;
}

form label.required:after {
  content: ' *';
  color: #dc3545;
}

.image-menu-btn {
  top: -10px;
  right: 10px;
}

.thumbnail-sm img {
  width: 118px;
  height: 118px;
  padding: 3px;
}

.thumbnail-md img {
  width: 160px;
  height: 160px;
  padding: 3px;
}

.thumbnail-lg img {
  width: 196px;
  height: 196px;
  padding: 3px;
}

#hidden_input {
  top: 0;
  left: 0;
  opacity: 0;
}

.table-nmg {
  vertical-align: middle!important;
}

.aspect-2-1 {
  width: 100%; padding-bottom: 50%; background-repeat: no-repeat; background-size: 100% auto;
}

.aspect-16-9 {
  width: 100%; padding-bottom: 56.25%; background-repeat: no-repeat; background-size: 100% auto;
}

.pager {
  min-width: 10rem;
}

input[name=term] {
  max-width: 8rem;
}