* {
  margin: 0;
  padding: 0;
}

body {
  margin-bottom: 140px;
  font-family: 'Arimo', sans-serif;
  font-size: 1em;
  color: #0c1a19;
  background-color: #ffffff!important;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Poppins', 'Arimo', sans-serif;
}

.text-nmg { color: #5AC5C3!important; }
.text-nmg-secondary { color: #0c1a19!important; }
.bg-nmg { background-color: #5AC5C3!important; }
.bg-nmg-secondary { background-color: #0c1a19!important; }
.btn-nmg { background-color: #5AC5C3!important; color: #0c1a19 }

.container {
  background-color: #ffffff;
}

.content {
  min-height: 60vh;
}

.btn-floating {
  opacity: 0.6!important;
  position: absolute;
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}

.btn-floating:hover {
  opacity:1!important;
}

form label.required:after {
  content: ' *';
  color: #dc3545;
}