#divBlog .row_title { padding: 5px; }

#divBlog #content {
	overflow: auto; 
}

.txtField {
	width: 400px;
}

.txtFieldShort {
	width: 200px;
}

.txtArea {
	width: 100%;
	height: 300px;
}

.txtAreaShort {
	width: 500px;
	height: 100px;
}

.txtDropdown {
	width: 100%;
}

.errors {
	font-weight: bold;
	color: red;
	border: 1px solid #999;
	margin-top: 10px;
	padding: 10px;
	margin-bottom: 10px;
}

.message {
	font-weight: bold;
	border: 1px solid #999;
	margin-top: 10px;
	padding: 10px;
	margin-bottom: 10px;
}	

.previewEntry {
	border: 1px solid #999;
	margin-top: 10px;
	padding: 10px;
	margin-bottom: 10px;
	
	font-family: "Trebuchet MS", verdana, arial, sans-serif;
 	font-size: .7em;
 	color: #000000;
 	margin-left: 0px;

}	
.button {
	text-decoration:none;
	background:#fff;
	border:1px solid #edf0c9;
	margin: 0 0 0 0;
	padding: 0 .2em 0 .2em;
}
.button:hover {
	text-decoration:none;
	background:#f6f7e4;
	border:1px solid #e4e8af;
	margin: 0 0 0 0;
	padding: 0 .2em 0 .2em;
}
.buttonbar {
	margin:1em 1.2em 1em 0;
	text-align:right;
}
/* Fieldset styles */
	#editForm fieldset {
		margin: 1.5em 0 0 0;   
		padding: .3em; 
		border:none;
		max-width:800px;
	}  

	fieldset {
		margin: 1.5em 0 0 0;   
		padding: .3em; 
		border:1px dotted #e4e8af;
		max-width:800px;
	}  
	legend {   
		margin-left: 1em;   
		color: #7d8524;   
		font-weight: bold;  
		background-color:white;
	}  
	fieldset ul {   
		padding: 1em 1em 0 1em;
		margin:0;  
		list-style: none;  
	}  
	fieldset li {   
		padding-bottom: .5em;  
	}  
	fieldset.submit {   
		border-style: none;  
	}
	label {    
		float: left;    
		width: 10em;    
		margin-right: 1em;    
		text-align: right;
	}

	select {
		min-width : 100px;
		font-weight: bold;
	}
