#divBlog {
	font-family: Verdana, Tahoma, Arial, Helvetica, Geneva, sans-serif, serif;
	font-size: 10pt;
	font-style: normal;
	position: relative;
	width: 100%;
	margin: 0 auto;
}
#divBlog .subpage_content { float: left; width: 735px; }
#divBlog .subpage_sidebar { float: right; width: 210px; }
#divBlog .brewer_sidehead { position: relative; margin: 3px; }
#divBlog .brewer_sidehead img.toggler { position: absolute; right: 4px; top: 4px; cursor: pointer; display: block; }
#divBlog .brewer_sidebox { margin-bottom: 5px; }
#divBlog .subpage_content { float: left; width: 735px; }


#divBlog .blog-main .blog-left {
	right: 240px; /* right column width */
}
#divBlog .blog-main .col1 {
	width: 720px; /* left column width */
	left: 240px; /* right column width */
}
#divBlog .blog-main .col2 {
	width: 236px; /* right column width */
	left: 240px; /* right column width */
	border: 2px solid #DB7301;
	background: transparent url(../../css/orange/images/ui-bg_th_db7301_21x21.png) repeat top left;
}
#divBlog .blog-main .col1, #divBlog .blog-main .col2 {
	float: left;
	position: relative;
	padding: 0;
	overflow: hidden;
}
#divBlog .blog-main {
	position: relative; /* This fixes the IE7 overflow hidden bug */
	clear: both;
	float: left;
	width: 100%;
	overflow: hidden; /* This chops off any overhanging divs */
}
#divBlog .blog-main .blog-left {
	float: left;
	width: 100%;
	position: relative;
}

#divBlog form {
	padding: 10px;
}
#divBlog table.datagrid, #divBlog table.datagrid td {
	background-color: transparent;
}
#divBlog fieldset {
	padding: .8em;
	border: 1px solid #d2c7af;
}
#divBlog legend {
	padding: 2px 15px 10px 15px;
	text-transform: uppercase;
	font-style: italic;
	font-size: 115%;
}
#divBlog dl {
	padding: .3em 0 .8em;
}
#divBlog dt {
	float: left;
	clear: left;
	width: 9em;
	text-align: right;
	font-weight: bold;
	text-decoration: underline;
}
#divBlog dd {
	margin: 0 0 0 10em;
	padding: 0 0 0.5em 0;
}
/* other */
#divBlog p { margin: 0; padding: 3px 10px;  }

#divBlog hr {
	color: #b4aca1;
	background: #b4aca1;
	border-bottom: 1px solid #f6f4eb;
}
#divBlog small {
	font-size: 80%;
}
#divBlog pre {
	overflow: auto;
	white-space: pre-wrap; /* css3 */
	white-space: -moz-pre-wrap; /* ff */
	word-wrap: break-word; /* ie */
	font-size: 12px;
	font-family: "Courier New", Courier, "Lucida Console", Monaco, "DejaVu Sans Mono", "Nimbus Mono L", "Bitstream Vera Sans Mono";
	background: #fff;
	padding: .4em;
	margin: 1em 0;
}
#divBlog blockquote {
	margin: 1em 25% 1em 0;
	padding: .2em .2em .2em 5em;
	border: 1px dotted #937d68;
	font-style: italic;
	color: #937d68;
	background: #fff url(images/blockquote.png) no-repeat 4px top;
}
#divBlog blockquote p {
	padding: 8px;
	margin: 2px;
}
/*** BASIC LAYOUT ***/
._block-content {
	width: 100% !important;
	width: 960px; /* for ie 6 */
	min-width: 780px;
	max-width: 1200px;
	margin: 0 auto;
	display: block;
}
/* search */
.search-block {
	background: transparent url(images/search-bg.png) no-repeat left top;
	position: absolute;
	right: 2em;
	bottom: 1em;
}
.search-block .searchform-wrap {
	background: transparent url(images/search-go.png) no-repeat right top;
	width: 146px;
	height: 30px;
}
.search-block input {
	background: none;
	border: 0;
	color: #928a85;
	float: left;
	width: 100px;
	padding: 0;
	margin: 0;
}
.search-block input.searchfield {
	margin: 5px 0 0 8px;
}
.search-block fieldset {
	border: 0;
	padding: 0;
}
.search-block input.go {
	width: 36px;
	height: 30px;
	text-transform: uppercase;
	text-align: center;
	float: right;
	color: #fff;
}
/*** MAIN CONTENT ***/
#main-content {
	padding: 0 10px;
}
/* post */
#divBlog .post, #divBlog .page {
	margin: 5px 0;
}
#divBlog .post-header {
	border-bottom: 1px dotted #242424;
	font-variant: small-caps;
	margin: 0 0 5px;
}
#divBlog .post-header .metadata {
	margin: 0 0 5px;
}
#divBlog .post-header .metadata .share {
	float: right;
}
#divBlog .post-title {}
#divBlog .post-title a {
	text-decoration: none;
	color: #432300;
}
#divBlog .post-title a:hover {
	color: #DB7301;
}
#divBlog .post .post-content {
	clear: left;
	padding-bottom: .4em;
	line-height: 150%;
}
#divBlog p.post-metadata {
	font-size: 8pt;
	margin: 5px 0;
	color: #a8937b;
	background: #f4f1e9;
	border: 1px solid #fff;
}
#divBlog p.post-metadata a {
	color: #a8937b;
	text-decoration: none;
	line-height: 150%;
}
#divBlog p.post-metadata a:hover {
	color: #DB7301;
}
#divBlog .tweetbacks {
	margin: 0 0 8px;
}
/* comments */
#divBlog .comments {
	margin: 0 0 8px;
}
#divBlog span.bco_moderated {
	font-size: 9pt;
	font-weight:normal;
	color: #A8937B;
	padding-left: 5px;
}
#divBlog #comments p {
	font-style: italic;
	font-weight: normal;
}
#divBlog ul#comments li.comment, #divBlog ul#comments li.trackback, #divBlog div.comment_post_buttons {
	width: 95%;
	margin: 0 10px;
	padding: 0;
}
#divBlog .comment-mask {
	display: block;
	padding: 10px 0px;
	position: relative;
}
#divBlog #blogAddComment {
	width: 665px;
}
#divBlog #blogAddComment {
	width: 665px;
}
#divBlog #blogAddComment textarea {
	width: 475px;
	height: 200px;
}
#divBlog #blogAddComment input[type="text"] {
	width: 475px;
}
#divBlog .comment-mask .avatar {
	width: 90px;
	height: 90px;
	background: transparent url(images/avatar.png) no-repeat center center;
	float: left;
	position: relative;
}
#divBlog .comment-mask .avatar img {
	position: absolute;
	left: 13px;
	top: 13px;
	width: 64px;
	height: 64px;
}
#divBlog .comment-head {
	background: transparent url(../../css/orange/images/ui-bg_th_db7301_21x21.png) repeat top left;
	color: #432300;
	display: block;
	width: 100%; /* IE 7 fix */
	position: relative;
}
#divBlog .trackback .comment-head {
	background: #7c7c7d;
}
#divBlog .admincomment .comment-head {
	background: #125f9f url(images/comment-head-admin.png) repeat-x left bottom;
}
#divBlog .trackback .comment-head p {
	padding: .5em 1em;
	margin: 0;
}
#divBlog .comment-head p a, .comment-head p a:visited {
	color: #432300;
}
#divBlog .comment-body {
	padding: 0;
	height: 60px;
	min-height: 60px;
	height: auto !important; /* ie6 fix */
	border-top-width: 0;
}
#divBlog .comment-body p {
	padding: 0 1em 1em 1em;
	margin: 0;
	line-height: 150%;
}
#divBlog .comment-body blockquote {
	margin-left: 100px;
}
/* comment form */
#divBlog #respond {
	display: block;
	margin: 1em 0;
}
#divBlog li.comment #respond {
	margin-left: 100px;
}
/*** SIDEBAR ***/
#divBlog #sidebar, #divBlog #sidebar-secondary {
	padding: 0;
	margin: 0;
}
#divBlog #sidebar li.block, #divBlog #sidebar-secondary li.block {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
/* sidebar menu */
#divBlog ul.menu, ul.menu li {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
#divBlog ul.menu {
	padding: 0 12px;
	margin: 0 0 10px 0;
	display: block;
}
#divBlog ul.menu li {
	background: transparent url(images/div-h.png) repeat-x left bottom;
	display: block;
	padding: 0 0 3px 0;
	width: 100%;
}
#divBlog ul.menu li a {
	display: block;
	text-decoration: none;
	text-transform: uppercase;
	padding: 3px 30px 3px 12px;
	color: #000;
	font-size: 120%;
}
#divBlog ul.menu li a:hover {
	color: #0071bb;
}
#divBlog ul.menu .fadeThis {
	position: relative;
	z-index: 1;
	background: none;
}
#divBlog ul.menu .fadeThis span.hover {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	height: 100%;
	width: 100%;
	background: #f7f5ef url(images/side-menu-active.png) repeat-x left bottom;
	z-index: -1;
}
/* sub menus */
#divBlog ul.menu li li {
	margin-left: 1.8em;
	padding: 0;
	float: none;
	background: none;
	width: auto;
}
#divBlog ul.menu li li li {
	margin-left: 1em;
}
#divBlog ul.menu li li a {
	text-transform: none;
	padding: 0;
	font-size: 100%;
	font-style: italic;
}
#divBlog ul.menu li li a:hover {
	background: none;
}
/* rss popups */
#divBlog ul.menu li.cat-item {
	position: relative;
}
#divBlog ul.menu li.cat-item a.rss {
	position: absolute;
	padding: 0;
	display: none;
	background: transparent url(images/side-menu-rss.png) no-repeat center center;
	width: 24px;
	height: 22px;
	top: 0px;
	margin-top: 4px;
	right: 6px;
	z-index: 10;
	cursor: pointer;
}
#divBlog ul.menu li.cat-item li.cat-item a.rss {
	background: none;
	visibility: hidden;
}
#divBlog ul.menu li li .fadeThis {
	position: static;
	background: none;
}
#divBlog ul.menu li li .fadeThis span.hover {
	display: none;
}
/* box */
#divBlog .box {
	padding: 5px;
	margin: 5px;
}
#divBlog .box .box-header {
	border: 1px solid #7A4000;
	color: #432300;
	font-weight: bold;
}
#divBlog .box .box-content {
	min-height: 45px;
	height: auto !important;
	height: 64px; /* ie 6 fix */
	padding: 5px;
	border-top-width: 0;
}
#divBlog .box .box-content input {
	font-size: 10pt;
}
#divBlog .box .box-content button {
	border: 1px solid #B2C6ED;
}
/*** MISC ***/
#divBlog .with-tooltip {
}
#divBlog div.tooltip {
	position: absolute;
	left: -20000px;
	background-color: #dedede;
	padding: 5px;
	border: 1px solid #fff;
	display: none;
}
div.tooltip p {
	margin: 0;
	padding: 0;
	color: #fff;
	background-color: #222;
	padding: 2px 7px;
}
#divBlog div.clear {
	clear: both;
	height: 1px;
}
/* clearfix */
#divBlog .clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
#divBlog .clearfix {
	min-width: 0; /* trigger hasLayout for IE7 */
	display: inline-block;
	/* \*/
	display: block; /* Hide from IE Mac */
}
* html .clearfix {
	/* \*/
	height: 1%; /* Hide from IE Mac */
}
/* navigation links */
#divBlog .navigation {
	font-size: 80%;
	color: #a8937b;
	margin: 2em 0 1em 0;
}
#divBlog .navigation a {
	color: #6b5e50;
	text-decoration: underline;
	line-height: 150%;
}
#divBlog .navigation a:hover {
	color: #f44365;
	text-decoration: underline;
}
/* captions, thumbnail images in posts */
#divBlog .post-content img, #divBlog .attachment img, #divBlog .navigation .alignleft img, #divBlog .navigation .alignright img {
	padding: 3px;
	margin: 4px 10px;
	border: 1px solid #b7a99a;
	border-radius: 4px;
	-moz-border-radius: 4px;
}
#divBlog .post-content img.alignleft, #divBlog .attachment img.alignleft {
	margin-left: 0;
}
#divBlog .post-content img.alignright, #divBlog .attachment img.alignright {
	margin-right: 0;
}
#divBlog .post-content img.aligncenter, #divBlog .attachment img.aligncenter {
	margin: 0 auto;
	text-align: center;
}
#divBlog .post-content div.caption {
	background: #F7F7F7;
	border-radius: 4px;
	-moz-border-radius: 4px;
	padding: .2em .6em;
	margin: .6em 0;
	text-align: center;
	color: #8d8b8b;
	min-width: 0; /* ie7 peakaboo fix */
}
/* no border on smilies */
#divBlog .post-content img.wp-smiley {
	padding: 0;
	margin: 0;
	border: 0;
}
/* Sociable plugin adjustment */
#divBlog .post-content .sociable img {
	margin: 0;
}
#divBlog .post-content .wp-caption {
	background: #F7F7F7;
	border-radius: 4px;
	-moz-border-radius: 4px;
	padding: .4em 0;
	margin: 4px 10px;
	text-align: center;
	font-size: 80%;
	color: #928a85;
}
#divBlog .post-content .wp-caption img {
	margin: 0;
	border: 0;
	padding: 0;
}
#divBlog .post-content .wp-caption.alignleft {
	margin-left: 0;
}
#divBlog .post-content .wp-caption.alignright {
	margin-right: 0;
}
#divBlog .aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
#divBlog .alignleft {
	float: left;
}
#divBlog .alignright {
	float: right;
}
/* customize specific widgets */
#divBlog .widget_tag_cloud {
	text-align: justify;
}
#divBlog .widget_tag_cloud .the-content {
	padding: .4em 1em 1em 1em;
	line-height: 125%;
}
#divBlog .widget_tag_cloud a {
	text-decoration: none;
	vertical-align: middle;
	letter-spacing: -0.04em;
	color: #000;
	line-height: 100%;
}
#divBlog .widget_tag_cloud a:hover {
	background: #f44365;
	color: #fff;
}
#divBlog #sidebar li.block .info-text, #divBlog #sidebar-secondary li.block .info-text {
	margin: 1em;
	text-align: center;
	font-style: italic;
}
#divBlog .profile .avatar {
	padding: 4px;
	background: #fff;
}
#divBlog .profile .info {
	padding-left: 160px;
}
/* no border on smilies */
#divBlog img.wp-smiley, .post .postbody img.wp-smiley, #divBlog .attachment img.wp-smiley {
	padding: 0;
	margin: 0;
	border: 0;
	vertical-align: -20%;
}

#calendar {
	width: 100%;
	margin: 0px;
	padding: 0px;
	font-size: 8pt;
	line-height: 8px;
	border-collapse:collapse;
}
#calendar th, #calendar td {
	text-transform: uppercase;
	font-weight: normal;
	margin: 0px;
	padding: 4px;
	text-align: center;
	border: 1px solid #e8e1c8;
}
#calendar th {
	border: 0px;
}
#calendar tr td:hover {
	background-color: #D7DFD7;
}
#calendar .calendarToday {
	background: transparent url(/beerinhand/css/orange/images/ui-bg_th_db7301_21x21.png) repeat top left;
	border: 1px solid #7A4000;
}

#divBlog div.code {
	background-color: #ffffff;
}
#divBlog .tweetback {
	border-style: solid;
	border-width: thin;
	margin-bottom: 5px;
	background-color: white;
	padding: 5px;
	width: 90%;
}
#divBlog .tweetback img {
	margin-right: 5px;
}

#divBlog .smallestTag { font-size: 9px; }
#divBlog .smallTag { font-size: 11px; }
#divBlog .mediumTag { font-size: 13px; }
#divBlog .largeTag { font-size: 16px; }
#divBlog .largestTag { font-size: 20px; }
